<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS Position</title>
    <link rel="icon" href="/static/download.png">
    <link rel="stylesheet" href="/static/main.css">
</head>


<body>
    <main class="container">
         <header>


            <div href=myhtml.html class="Logo">
                Kynix
            </div>

            <div >
                <form action="/SearchPage" class="search-bar" method="post">
                    <input type="text" placeholder="Search" id="searchtext" name="searchtext">
                    <button type="submit"> <img class= search-icon src="/static/1000_F_278600482_jMaMwEXPoMx5QYdlHN6AK5We5L9wIEJs_1_-removebg-preview.png"> </button>
                </form>
                </div>

            <div class="profileBorder">

               <img class="user-icon" src="/static/download.png">

            </div>
            

         </header>


    </main>

    <div class="Page-Content">
        
        <div class="categories">
            <br><br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br><br>
        </div>

        <div class="product-hub">
        

            {{range .Sections}}
            
            <div class=Section-title> 
            {{.Section_Title}}
            </div>


            <div class="product-carousel">

                {{range .Products}}
                <div class="Product-Box">
                    
                    <div class="Product-Img"> <img class="product-cover" src={{.Imgurl}}> </div>

                    <div class="Product-Info"> {{.Title}} </div>
                
                </div>
                {{end}}

                <div>  
                    <button class=slide-button type="submit"><img class=slide-button-icon src="/static/removed.png"></button>
                </div>

            </div>
            {{end}}
            
        </div>
    </div>

 </body>


</html>