<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS Position</title>
    <link rel="icon" href="/static/download.png">
    <link rel="stylesheet" href="/static/main.css">
</head>


<body>

    <main class="container">
         <header>


            <div href=myhtml.html class="Logo">
                <a href="myhtml.html"> Kynix </a>
            </div>

            <div >
                <form action="/SearchPage" class="search-bar" method="post">
                    <input type="text" placeholder="Search" id="searchtext" name="searchtext">
                    <button type="submit"> <img class= search-icon src="/static/1000_F_278600482_jMaMwEXPoMx5QYdlHN6AK5We5L9wIEJs_1_-removebg-preview.png"> </button>
                </form>
                </div>

            <div class="profileBorder">

               <img class="user-icon" src="/static/download.png">

            </div>
            

         </header>
 
    <hr>
    </main>

   

    <div class="Page-Content">

       <div class=Menu-Bar>
            <br><br><br><br><br><br><br><br><br><br><br>    
       </div>

       <div class="Sliding-Hub">
            <div class="slider-container">
                <div class="slider-content">
                    <div class="slide">
                        <img src="/static/23437212_6795197 (1).jpg" alt="Image 1">
                    </div>
                    <div class="slide">
                        <img src="/static/31256455_7773487.jpg" alt="Image 2">
                    </div>
                    <div class="slide">
                        <img src="/static/32452243_7929097.jpg" alt="Image 2">
                    </div>
                </div>
            </div>
       </div>

       <div class="Category-Elements">

        <div class="Section-Icon"> 
            <a href="myhtml.html">
            <img src="/static/spaceship.png"> 
            <p class="Section-Icon-Title"> Fiction </p> 
            </a>
        </div>

        <div class="Section-Icon"> 
            <a href="myhtml.html">
            <img src="/static/discount.png"> 
            <p class="Section-Icon-Title"> Sale </p> 
            </a>
        </div>

        <div class="Section-Icon"> 
            <a href="myhtml.html">
            <img src="/static/exclusive.png"> 
            <p class="Section-Icon-Title"> Best-Sellers </p> 
            </a>
        </div>
        <div class="Section-Icon"> 
            <a href="myhtml.html">
            <img src="/static/new.png"> 
            <p class="Section-Icon-Title"> New Releases </p> 
            </a>
        </div>

        <div class="Section-Icon"> 
            <a href="myhtml.html">
            <img src="/static/tik-tok.png"> 
            <p class="Section-Icon-Title"> BookTok </p> 
            </a>
        </div>

       </div>

        <div class="product-hub">
            {{range .Sections}}
                {{range .}}
            <div class=Section-title> 
            
            {{.Section_Title}}
            </div>

            <div class="product-carousel">

                {{range .Products}}
                <div class="Product-Box">
                    
                    <div class="Product-Img"> <img class="product-cover" src={{.Imgurl}}> </div>

                    <div class="Product-Info"> {{.Title}} </div>
                
                </div>
                {{end}}

                <div>  
                    <button class=slide-button type="submit"><img class=slide-button-icon src="/static/removed.png"></button>
                </div>

            </div>
            {{end}}
            {{end}}
        </div>
    </div>

 </body>


</html>