<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS Position</title>
    <link rel="icon" href="/static/download.png">
    <link rel="stylesheet" href="/static/OpenBooks.css">
</head>


<body>

    <main class="container">
        <header>


           <div href=myhtml.html class="Logo">
               <a href="myhtml.html"> Kynix </a>
           </div>

           <div >
               <form action="/SearchPage" class="search-bar" method="post">
                   <input type="text" placeholder="Search"  autocomplete="off" id="searchtext" name="searchtext">
                   <button type="submit"> <img class= search-icon src="/static/1000_F_278600482_jMaMwEXPoMx5QYdlHN6AK5We5L9wIEJs_1_-removebg-preview.png"> </button>
               </form>
               </div>

           <div class="profileBorder">

              <img class="user-icon" src="/static/download.png">

           </div>
           

        </header>

   <hr>
   </main>

   

    <div class="Page-Content">
        <div class="About-Us"> 

            <div class="About-Desc">
                <div class="Desc-Title">
                    About Us 
                </div>
                <div class="Desc-Body"> 
                    <p>
                        OpenBooks is a decentralized organization with the goal of removing any barriers to knowledge. We believe that knowledge is a fundamental right, and we strive for making knowledge acessible to everyone.
                    </p>    
                </div>
            </div>

            <div class="About-Desc"> 
                <div class="Desc-Title">
                    Our Mission 
                </div>
                <div class="Desc-Body"> 
                    <p> Our goal is to democratize knowledge. We strive for removing any and all barries to knowledge, and making it accessible to everyone independently of country or economic background </p> 
                </div>
            </div>

            <div class="About-Desc">
                <div class="Desc-Title"> 
                    <h2> Our Values </h2>
                </div>
                <div class="Desc-Body"> 
                    <p> We believe that knowledge belongs to all mankind, and that it has the power to shape the future of humanity. Knowledge should never be commercialized or restricted,  </p>  
                </div>
            </div>

        </div>
        <hr>

        <div class="Categories">

            <form action="/OpenSearchHandler"  method="post"> 
                <input type="hidden" value="Physics,Gravity"
                name="OpenCategories">
                <button class=Submit-Categories type="submit">
                    <div class="Category-Box"> 
                        <img src="/static/Physics.png">
                        <h2> Physics </h2>
                    </div>
                </button>
            </form>


            <div class="Category-Box">
                <img src="/static/CS.png">
                <h2> Computer Science </h2>
            </div>

            <div class="Category-Box">
                <img src="/static/Meth.png">
                <h2>  Math </h2>
            </div>
            <div class="Category-Box">
                <img src="/static/BreakingBad.png">
                <h2>  Chemistry </h2>
            </div>

            <div class="Category-Box">
                <img src="/static/EE.png">
                <h2>  Engineering </h2>
            </div>


            <div class="Category-Box">
                <img src="/static/Psy.png">
                <h2>  Psychology</h2>
            </div>

            

            <div class="Category-Box">
                <img src="/static/Lit.png">
                <h2>  Literature </h2>
            </div>

            <div class="Category-Box">
                <img src="/static/Hum.png">
                <h2>  Humanities </a>
            </div>

            <div class="Category-Box">
                <img src="/static/Bio.png">
                <h2 href="/SearchPage"> Biology </a>
            </div>

            <div class="Category-Box">
                <img src="/static/mit.png">
                <h2>  TextBooks </a>
            </div>

            <div class="Category-Box">
                <img src="/static/Mus.png">
                <h2>  Music </a>
            </div>

            <div class="Category-Box">
                <img src="/static/Medic.png">
                <h2>  Health & Fitness </a>
            </div>

            </div>

           

         </div>


        </div>

    </div>

    <div class="product-hub">
        {{range .Sections}}
        {{range .}}
        <div class=Section-title> 
        
        {{.Section_Title}}
        </div>

        <div class="product-carousel">

            <div>  
                <button class=slide-button type="submit"><img class=slide-button-icon id="back-button" src="/static/removed.png"></button>
            </div>

            {{range .Products}}
            <div class="Product-Box">
                <a href="{{.Purl}}"> 
                
                <div class="Product-Img"> <img class="product-cover" src={{.Price}}> </div>

                <div class="Product-Info"> {{.Title}} </div>
                
                </a>
            </div>
            {{end}}

            <div>  
                <button class=slide-button type="submit"><img class=slide-button-icon id="forward-button" src="/static/removed.png"></button>
            </div>

        </div>
        {{end}}
        {{end}}
    </div>
    
    <br><br><br>
    <br><br><br>

</div>

    <footer> 
        
    </footer>

 </body>


</html>