@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=LXGW+WenKai+TC&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 5rem;
  background-color: #fca311;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main {
  position: sticky;
  top: 0;
  z-index: 1;
}

.profileBorder {

  border-radius: 70%;
  margin-right: 2rem;
  right: 0;
}

a {
  color: rgb(118, 171, 174);
  text-decoration: none;
}

.Logo {
  font-family: "Orbitron";
  color: rgb(118, 171, 174);
  font-size: 2.5rem;
  margin-left: 20px;
}

.search-bar {
  margin-top: 20px;
  width: 30em;
  height: 2.7rem;
  background-color: #c57b03;
  border: solid;
  border-radius: 2rem;
  border-color: hsla(195, 17%, 5%, 0.705);
  border-width: 0.10rem;
  display: flex;
  justify-self: start;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
  font-family: "Montserrat";
  backdrop-filter: blur(4px) saturate(180%);
}

.search-bar input {
  background: transparent;
  border: 0;
  outline: 0;
  color: white;
}

.search-bar option {
  background-color: transparent;
}


.search-bar button img {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  margin-right: 3rem;
  position: relative;
  bottom: 4px;
  right: 4px;
}

.search-bar button {
  border: 0;
  border-radius: 50%;
  width: 33px;
  height: 33px;
  background-color: rgba(164, 241, 245, 0.74);
  cursor: pointer;
}

.user-icon {
  width: 3rem;
  height: 3rem;
  border-radius: 2rem;
}

hr {
  width: 100%;
  height: 1px;
  background-color: rgb(0, 0, 0);
}

body {
  display: inline;
  background-color: #14213d;
  overflow-x: hidden;
}

.Page-Content {
  height: 80%;
  display: inline;
}

footer{
  width: 100%;
  height: 20rem;
  background-color: #c57b03;
  
}

.About-Us{
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    grid-auto-flow: column;
}

.About-Desc{
    width: 450px;
    height: 350px;
    background-color: rgba(5, 5, 17, 0.616);
    margin: 2rem;
    border-radius: 10%;
    
}

.Desc-Title{
    width: 100%;
    height: 20%;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    color: wheat;
    font-size: xx-large;
    margin-bottom: 3rem;
    padding-top: 1rem;
}

.Desc-Body{
    color: white;
    font-size: medium;
    padding-left: 1rem;
}
.Desc-Body p{
    text-wrap: pretty;
    font-size: 1.3rem;
    line-height: 2.5rem;
    text-indent: 5%;
    padding: 1% 1% 1% 1%;
}

.Categories{
    width: 100%;
    height: 50%;
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

}

.Category-Box{
    width: 400px;
    height: 150px;
    border-radius: 7%;
    margin: 1rem;
    background-color:  #0a1227;
    box-shadow: 4px 4px  #0a1227;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    
      
}

.Categories .Category-Box:hover{
    cursor: pointer;
    transform: scale(1.05);
}


.Category-Box h2{
    position: absolute;
    color: #ffffff;
    font-size: 100%;
    opacity: 1;
}

.Category-Box img{
    opacity: 0.5;
    width: 100%;
    height: 100%;
    border-radius: 7%;
}


.Page-Content {
    height: 80%;
    display: inline;
  }
  
  .product-hub {
    display: grid;
    place-items: center;
    margin: auto;
    height: 100%;
    width: 100%;
  }
  
  .product-carousel {
    width: 100%;
    height: 20rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: #0a1227;
  }
  
  .Product-Box {
    width: 11rem;
    height: 16rem;
    margin-left: 60px;
    margin-right: 60px;
    position: relative;
    scroll-snap-align: start;
  }
  
  .Product-Img {
    display: absolute;
    width: 100%;
    height: 80%;
  }
  
  .product-cover {
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
  }
  
  .Product-Info {
    width: 100%;
    height: 20%;
    background-color: cadetblue;
    border-radius: 0 0 10px 10px;
    padding-left: 5px;
    color: white;
    font-size: 0.9rem;
    font-family: "Montserrat";
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
  
  }
  
  .slide-button-icon {
    width: 50px;
    height: 50px;
    right: 0;
    margin-bottom: 2rem;
    cursor: pointer;
    border: none;
    background: none;
  }
  
  #back-button{
    transform: rotate(-180deg);
  
  }

.slide-button {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: transparent;
    margin-bottom: 2rem;
  }

  
.Section-title {
    width: 100%;
    margin-top: 2rem;
    padding-left: 1.5rem;
    position: relative;
    font-size: 3rem;
    font-family: "Exo 2", sans-serif;
    color: wheat
  }
  
  br {
    display: block;
    margin: 5px 0;
  }
  
  .Menu-Bar {
    width: 100%;
    max-height: 50px;
    background-color: rgb(255, 252, 252);
  }
  
  .Sliding-Hub {
    min-width: 7rem;
    max-height: 650px;
    margin-top: 5rem;
   
    overflow: hidden;
  }
  
  .slide {
    flex: 0 0 100%;
  }
  
  
  .slide img {
    width: 100%;
    height: 650px;
  }
  
  .slider-content {
    display: flex;
    animation: slide 10s infinite ease-in-out;
  }
  
  @keyframes slide {
    0%, 30%, 100% {
      transform: translateX(0);
    }
    40%, 60% {
      transform: translateX(-100%);
    }
    70%, 90% {
      transform: translateX(-200%);
    }
  }
  
  .Category-Elements{
      display: grid;
      grid-auto-flow: column;
      align-content: center;
      justify-content: space-evenly;
      width: 100%;
      height: 200px;
      margin-top: 2rem;
  
  }
  
  .Section-Icon {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
  }
  
  
  .Section-Icon img{
      max-width: 100px;
      max-height: 100px;
    }

.Submit-Categories{
      border: none;
      background: none;
      cursor: pointer;
  }
    
  .Section-Icon-Title{
      
      margin-top: 15px;
      font-family: "Montserrat";
      font-size: x-large;
      color: #ffffff;
  }
  
  .Section-Icon img:hover{
      transform: scale(1.1);
  }
  
  .product-carousel .Product-Box:hover{
    transform: scale(1.1);
  }
  
  footer{
    width: 100%;
    height: 20rem;
    background-color: #c57b03;
    
  }
  
  




