@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 5rem;
  background-color: #fca311;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main {
  position: sticky;
  top: 0;
  z-index: 1;
}

.profileBorder {

  border-radius: 70%;
  margin-right: 2rem;
  right: 0;
}

a {
  color: rgb(118, 171, 174);
  text-decoration: none;
}

.Logo {
  font-family: "Orbitron";
  color: rgb(118, 171, 174);
  font-size: 2.5rem;
  margin-left: 20px;
}

.search-bar {
  margin-top: 20px;
  width: 30em;
  height: 2.7rem;
  background-color: #c57b03;
  border: solid;
  border-radius: 2rem;
  border-color: hsla(195, 17%, 5%, 0.705);
  border-width: 0.10rem;
  display: flex;
  justify-self: start;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
  font-family: "Montserrat";
  backdrop-filter: blur(4px) saturate(180%);
}

.search-bar input {
  background: transparent;
  border: 0;
  outline: 0;
  color: white;
}

.search-bar button img {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  margin-right: 3rem;
  position: relative;
  bottom: 4px;
  right: 4px;
}

.search-bar button {
  border: 0;
  border-radius: 50%;
  width: 33px;
  height: 33px;
  background-color: rgba(164, 241, 245, 0.74);
  cursor: pointer;
}

.user-icon {
  width: 3rem;
  height: 3rem;
  border-radius: 2rem;
}

hr {
  width: 100%;
  height: 1px;
  background-color: rgb(0, 0, 0);
}

body {
  display: inline;
  background-color: #14213d;
}

.carousel-slide {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.Page-Content {
  height: 80%;
  display: inline;
}

.product-hub {
  display: grid;
  place-items: center;
  margin: auto;
  height: 100%;
  width: 75%;
}

.product-carousel {
  width: 100%;
  height: 20rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: #0a1227;
}

.Product-Box {
  width: 11rem;
  height: 16rem;
  margin-left: 60px;
  margin-right: 60px;
  position: relative;
  scroll-snap-align: start;
}

.Product-Img {
  display: absolute;
  width: 100%;
  height: 80%;
}

.product-cover {
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0 0;
}

.Product-Info {
  width: 100%;
  height: 20%;
  background-color: cadetblue;
  border-radius: 0 0 10px 10px;
  padding-left: 5px;
}

.slide-button-icon {
  width: 50px;
  height: 50px;
  right: 0;
  margin-bottom: 2rem;
  cursor: pointer;
  border: none;
  background: none;
}

.slide-button {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  border: transparent;
  margin-bottom: 2rem;
}

.Section-title {
  width: 100%;
  margin-top: 2rem;
  position: relative;
  font-size: 4rem;
  font-family: "Fira Sans";
}

br {
  display: block;
  margin: 5px 0;
}

.Menu-Bar {
  width: 100%;
  max-height: 50px;
  background-color: rgb(255, 252, 252);
}

.Sliding-Hub {
  min-width: 7rem;
  max-height: 550px;
  margin-top: 5rem;
  border: 2%;
  border: solid;
  border-color: black;
  overflow: hidden;
}

.slide {
  flex: 0 0 100%;
}

.slide img {
  width: 100%;
  height: 550px;
}

.slider-content {
  display: flex;
  animation: slide 10s infinite ease-in-out;
}

@keyframes slide {
  0%, 30%, 100% {
    transform: translateX(0);
  }
  40%, 60% {
    transform: translateX(-100%);
  }
  70%, 90% {
    transform: translateX(-200%);
  }
}

.Category-Elements{
    display: grid;
    grid-auto-flow: column;
    align-content: center;
    justify-content: space-evenly;
    width: 100%;
    height: 200px;
    margin-top: 2rem;

}

.Section-Icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.Section-Icon img {
    max-width: 100px;
    max-height: 100px;
  }
  
.Section-Icon-Title{
    
    margin-top: 15px;
    font-family: "Montserrat";
    font-size: x-large;
    color: #ffffff;
}

.Section-Icon img:hover{
    transform: scale(1.1);
}
